# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/
*.swp
*.swo

# environment 
*env*/
.env
*venv*/
ENV/

# data
*.csv
*.dat
*.log
*.tmp
*paramstest.json

# test
test/
*/test/
**/test/
*_test.py
test_*.py
trial.py
*.pyc

*_test_geo1015_hw03.py

# documentation

LICENSE